body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(3, 22, 48);
  color: rgb(162, 175, 199);

}

.cabecalho {
  display: flex;              /* coloca logo e menu lado a lado */
  justify-content: space-between; /* logo à esquerda, menu à direita */
  align-items: center;        /* centraliza verticalmente */
  padding: 0px 10px;         /* espaço interno do header */
  border-bottom: 2px solid #cccccc4f; /* linha cinza embaixo do header */
}

.logo{
  color: white;
}

.menu ul {
  list-style: none;    /* tira as bolinhas da lista */
  display: flex;       /* deixa os itens lado a lado */
  gap: 25px;           /* espaço entre os links */
  margin: 0;
  padding: 0;
}

.menu ul li a {
  color: white;
  text-decoration: none; /* tira o sublinhado */
  font-weight: bold;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #1e90ff; /* cor ao passar o mouse */
}



#principal {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.coluna-esquerda,
.coluna-direita {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* Ajuste opcional de largura */
.coluna-esquerda {
  flex: 4;
  /* ocupa mais espaço */
}

.coluna-direita {
  flex: 2.5;
  /* ocupa menos espaço */
}

ul,
li {
  margin: 4px 0;
}

a[target="_blank"] {
  text-decoration: underline;
}

.botao {

  background: #3498db;
  color: white;
  padding: 12px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  /* suaviza o efeito */

  box-shadow: 0px 6px 12px rgb(40, 98, 133);
}

.botao:hover,
.botao:focus {
  background-color: rgb(37, 175, 218);
  transform: sacle(1.05);
}

.bloco {
  background-color: rgb(22, 34, 58);
  padding: 5px;
  border: 5px solid rgb(26, 36, 58);
  border-radius: 8px;
  margin: 10px;

  box-shadow: 0px 0px 50px rgb(2, 18, 27);
  flex: 1;

}

.boxes {
  display: flex;
  justify-content: space-around;
  
}

.box {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  border: 3px dotted #81818163;
  border-radius: 8px;
  margin: 0 10px;
}

.check-list {
  list-style: none;
  /* remove marcador padrão */
  padding: 0;
}

.check-list li::before {
  content: "✔";
  /* símbolo de visto */
  color: rgb(46, 187, 212);
  /* cor azul */
  font-weight: bold;
  margin-right: 8px;
  /* espaço entre ícone e texto */
}


p {
  color: rgb(168, 168, 168);
}

h1,
h2,
h3 {
  color: rgb(235, 235, 235);

}

a{
  color: #1e90ff;
}