.introducao{
    font-style: italic;
}

ul, li{
    margin: 4px 0;
}

a[target="_blank"]{
    text-decoration: underline;
}

.botao{
    background: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s; /* suaviza o efeito */
}

.boato:hover {
  background: #2980b9;   /* muda a cor */
  transform: translateY(-2px); /* leve elevação */
}

.botao:focus {
  outline: 2px solid #f39c12; /* destaque quando em foco */
}
h1::first-letter {
  font-size: 2em;   /* aumenta a primeira letra */
  font-weight: bold;
}

.card {
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card::before {
  content: "";  /* obrigatório para aparecer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #3498db, #9b59b6); /* detalhe sutil */
}
